* {
    box-sizing: border-box;
}

:root {
    --font: 'Manrope', sans-serif;

    /* COLORS */
    --dark-blue: hsl(217, 19%, 35%);
    --dark-blue-desaturated: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --grayish-blue-light: hsl(210, 46%, 95%);
    font-size: 13px;
}

body {
    margin: 0;
    background-color: var(--grayish-blue-light);
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    padding:  0 2em;
}

.image {
    background-image: url(../images/drawers.jpg);
    background-repeat: no-repeat;
    height: 215px;
    background-size: cover;
}

.article-preview {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.article-preview-description {
    color: var(--dark-blue-desaturated);
    padding: 1.5em 2.5em 0;
}

.article-preview-description h1 {
    color: var(--dark-blue);
    font-size: 1.25em;
}

.article-preview-description p {
    font-weight: 500;
    line-height: 1.6;
}

.footer-info, .container-share-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-footer  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9em 2.5em;
    opacity: 1;
    transition: opacity .5s;
}

.avatar {
    border-radius: 50px;
    margin-right: 1.4em;
}

.footer-info p {
    margin: 2px 0;
    font-weight: 700;
    line-height: 1.6;
    color: var(--dark-blue);
}

.footer-info span {
    color: var(--grayish-blue);
    display: block;
}

input[type="checkbox"] {
    display: none;
}

.btn-show-share {
    border: none;
    background-color: var(--grayish-blue-light);
    background-image: url(../images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    outline: none;
}

.btn-show-share-bg-alt {
    background-color: var(--dark-blue-desaturated);
    background-image: url(../images/icon-share-white.svg);
}

.footer-active {
    background-color: var(--dark-blue);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: .9em 2.5em;
}

.social {
    display: flex;
    align-items: center;
}

.social p {
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 5px;
}

.social a {
    margin-left: 15px;
}

.hide-article-footer {
    display: none;
}

.show-footer-active {
    display: flex;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        position: relative;
    }

    .article-preview {
        display: grid;
        grid-template-columns: 285px 450px;
        grid-template-rows: 236px;
    }

    .image {
        height: auto;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .article-footer {
        padding: 0 3.2em;
        position: relative;
        bottom: 25px;
    }

    .show-footer-active {
        position: absolute;
        left: 580px;
        top: 131px;
        border-radius: 10px;
        padding: .5em 2.5em;
    }

    .show-footer-active::after {
        content: "";
        height: 0;
        width: 0;
        border-top: 20px solid var(--dark-blue);
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        top: 50px;
        right: 110px;
    }

    .article-preview-description {
        color: var(--dark-blue-desaturated);
        padding: 1.5em 3.2em 0;
    }

    .article-preview-description h1 {
        font-size: 1.58em;
    }

    .article-preview-description p {
        font-size: 1.02em;
    }

    .btn-show-share:hover {
        cursor: pointer;
    }

    .btn-hide-share {
        display: none;
    }

    .social a {
        margin-left: 20px;
    }
}

.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}